@import './base.css';
@import './components.css';

.view-root {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 0 2rem;
  grid-column-gap: 2rem;
}

.action-pane {
  background-color: var(--color-background);
  height: calc(100vh - 6rem); /* 2rem (margin-top) + 2rem (margin-bottom) + 2 * 1rem (padding) */
  margin: 2rem 0;
  border-radius: 16px;
  padding: 1rem;
  text-align: left;
  font-size: 1rem;
  box-shadow: 0 0 10px 0 var(--color-background-least);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.content-pane {
  height: calc(100vh - 4rem); /* only 4 rem because the content pane sets its own padding */
  margin: 2rem 0;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 0 10px 0 var(--color-background-least);
  position: relative;
}

.search-clear-icon {
  margin: 1rem 1rem 1rem 0;
  cursor: pointer;
}

.search-error-container {
  background: var(--color-background-less);
  margin: 1rem 0 0;
  padding: 1rem;
  border: 2px solid var(--color-error);
  border-radius: 8px;
}

.search-error-container p {
  margin: 0;
}

.action-container {
  flex-grow: 4;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.action {
  position: relative;
  background: var(--color-background-less);
  border-radius: .5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  border: 2px solid var(--color-background-less);
  margin: 0 0 1rem 0;
}

.action:last-of-type {
  margin-bottom: 0;
}

.action-icon {
  margin: 1rem;
  cursor: pointer;
}

.action-text {
  margin: 0;
  font-size: 1rem;
  line-height: 1rem;
  text-transform: uppercase;
  letter-spacing: .15rem;
  user-select: none;
}

.edit-input-container {
  display: flex;
  flex-direction: column;
  margin-top: .5rem;
  margin-bottom: 1rem;
}

.edit-input-label {
  font-size: .9rem;
  margin-left: 1rem;
  margin-bottom: -1.75rem;
  z-index: 2;
  user-select: none;
}

.edit-input {
  background: var(--color-background);
  border-radius: 8px;
  border: none;
  padding: 2.25rem 1rem 1rem;
  color: var(--color-text);
  outline: none;
  font-size: 1.125rem;
}

a {
  text-decoration: none;
  color: var(--color-link);
  transition: 0.15s;
  padding-bottom: 1px;
  border-bottom: 0 solid var(--color-link);
  outline: none;
}

a:hover, a:focus {
  border-width: 2px;
}

.leaflet-touch .leaflet-bar {
  border: none;
  margin: 2rem 0 0 2rem;
}

.leaflet-control-zoom a {
  border: none;
  background-color: var(--color-background);
  color: var(--color-text);
  padding: .5rem;
}

.leaflet-touch .leaflet-bar a:hover, .leaflet-touch .leaflet-bar a:focus {
  background-color: var(--color-background-less);
}

.leaflet-touch .leaflet-bar a:first-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.leaflet-touch .leaflet-bar a:last-child {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
